.cdw-fw-gap-0 { gap: 0; }
.cdw-fw-gap-1 { gap: 4px; }
.cdw-fw-gap-2 { gap: 8px; }
.cdw-fw-gap-3 { gap: 12px; }
.cdw-fw-gap-4 { gap: 16px; }
.cdw-fw-gap-5 { gap: 20px; }
.cdw-fw-gap-6 { gap: 24px; }
.cdw-fw-gap-8 { gap: 32px; }
.cdw-fw-gap-10 { gap: 40px; }
.cdw-fw-gap-12 { gap: 48px; }
.cdw-fw-gap-16 { gap: 64px; }
