.cdw-fw-gap-0 { gap: 0; }
.cdw-fw-gap-1 { gap: 4px; }
.cdw-fw-gap-2 { gap: 8px; }
.cdw-fw-gap-3 { gap: 12px; }
.cdw-fw-gap-4 { gap: 16px; }
.cdw-fw-gap-5 { gap: 20px; }
.cdw-fw-gap-6 { gap: 24px; }
.cdw-fw-gap-8 { gap: 32px; }
.cdw-fw-gap-10 { gap: 40px; }
.cdw-fw-gap-12 { gap: 48px; }
.cdw-fw-gap-16 { gap: 64px; }
.cdw-fw-row-gap-0 { row-gap: 0; }
.cdw-fw-row-gap-1 { row-gap: 4px; }
.cdw-fw-row-gap-2 { row-gap: 8px; }
.cdw-fw-row-gap-3 { row-gap: 12px; }
.cdw-fw-row-gap-4 { row-gap: 16px; }
.cdw-fw-row-gap-5 { row-gap: 20px; }
.cdw-fw-row-gap-6 { row-gap: 24px; }
.cdw-fw-row-gap-8 { row-gap: 32px; }
.cdw-fw-row-gap-10 { row-gap: 40px; }
.cdw-fw-row-gap-12 { row-gap: 48px; }
.cdw-fw-row-gap-16 { row-gap: 64px; }
.cdw-fw-col-gap-0 { column-gap: 0; }
.cdw-fw-col-gap-1 { column-gap: 4px; }
.cdw-fw-col-gap-2 { column-gap: 8px; }
.cdw-fw-col-gap-3 { column-gap: 12px; }
.cdw-fw-col-gap-4 { column-gap: 16px; }
.cdw-fw-col-gap-5 { column-gap: 20px; }
.cdw-fw-col-gap-6 { column-gap: 24px; }
.cdw-fw-col-gap-8 { column-gap: 32px; }
.cdw-fw-col-gap-10 { column-gap: 40px; }
.cdw-fw-col-gap-12 { column-gap: 48px; }
.cdw-fw-col-gap-16 { column-gap: 64px; }
