.cdw-fw-w-100 { width: 100%; }
.cdw-fw-w-auto { width: auto; }
.cdw-fw-w-70 { width: 70px; }
.cdw-fw-w-140 { width: 140px; }
.cdw-fw-maxw-100 { max-width: 100%; }
.cdw-fw-h-100 { height: 100%; }
.cdw-fw-h-auto { height: auto; }
.cdw-fw-h-40 { height: 40px; }
.cdw-fw-h-60 { height: 60px; }
.cdw-fw-h-80 { height: 80px; }
.cdw-fw-h-90 { height: 90px; }
.cdw-fw-h-120 { height: 120px; }
.cdw-fw-maxh-100 { max-height: 100%; }
.cdw-fw-minw-0 { min-width: 0; }
.cdw-fw-minw-80 { min-width: 80px; }
.cdw-fw-minh-0 { min-height: 0; }
