.cdw-fw-w-100 { width: 100%; }
.cdw-fw-w-auto { width: auto; }
.cdw-fw-maxw-100 { max-width: 100%; }
.cdw-fw-h-100 { height: 100%; }
.cdw-fw-h-auto { height: auto; }
.cdw-fw-maxh-100 { max-height: 100%; }
.cdw-fw-minw-0 { min-width: 0; }
.cdw-fw-minh-0 { min-height: 0; }
