.cdw-fw-m-0 { margin: 0; }
.cdw-fw-m-1 { margin: 4px; }
.cdw-fw-m-2 { margin: 8px; }
.cdw-fw-m-3 { margin: 12px; }
.cdw-fw-m-4 { margin: 16px; }
.cdw-fw-m-5 { margin: 20px; }
.cdw-fw-m-6 { margin: 24px; }
.cdw-fw-m-8 { margin: 32px; }
.cdw-fw-m-10 { margin: 40px; }
.cdw-fw-m-12 { margin: 48px; }
.cdw-fw-m-16 { margin: 64px; }

.cdw-fw-mt-0 { margin-top: 0; }
.cdw-fw-mt-1 { margin-top: 4px; }
.cdw-fw-mt-2 { margin-top: 8px; }
.cdw-fw-mt-3 { margin-top: 12px; }
.cdw-fw-mt-4 { margin-top: 16px; }
.cdw-fw-mt-5 { margin-top: 20px; }
.cdw-fw-mt-6 { margin-top: 24px; }
.cdw-fw-mt-8 { margin-top: 32px; }
.cdw-fw-mt-10 { margin-top: 40px; }
.cdw-fw-mt-12 { margin-top: 48px; }
.cdw-fw-mt-16 { margin-top: 64px; }

.cdw-fw-mr-0 { margin-right: 0; }
.cdw-fw-mr-1 { margin-right: 4px; }
.cdw-fw-mr-2 { margin-right: 8px; }
.cdw-fw-mr-3 { margin-right: 12px; }
.cdw-fw-mr-4 { margin-right: 16px; }
.cdw-fw-mr-5 { margin-right: 20px; }
.cdw-fw-mr-6 { margin-right: 24px; }
.cdw-fw-mr-8 { margin-right: 32px; }
.cdw-fw-mr-10 { margin-right: 40px; }
.cdw-fw-mr-12 { margin-right: 48px; }
.cdw-fw-mr-16 { margin-right: 64px; }

.cdw-fw-mb-0 { margin-bottom: 0; }
.cdw-fw-mb-1 { margin-bottom: 4px; }
.cdw-fw-mb-2 { margin-bottom: 8px; }
.cdw-fw-mb-3 { margin-bottom: 12px; }
.cdw-fw-mb-4 { margin-bottom: 16px; }
.cdw-fw-mb-5 { margin-bottom: 20px; }
.cdw-fw-mb-6 { margin-bottom: 24px; }
.cdw-fw-mb-8 { margin-bottom: 32px; }
.cdw-fw-mb-10 { margin-bottom: 40px; }
.cdw-fw-mb-12 { margin-bottom: 48px; }
.cdw-fw-mb-16 { margin-bottom: 64px; }

.cdw-fw-ml-0 { margin-left: 0; }
.cdw-fw-ml-1 { margin-left: 4px; }
.cdw-fw-ml-2 { margin-left: 8px; }
.cdw-fw-ml-3 { margin-left: 12px; }
.cdw-fw-ml-4 { margin-left: 16px; }
.cdw-fw-ml-5 { margin-left: 20px; }
.cdw-fw-ml-6 { margin-left: 24px; }
.cdw-fw-ml-8 { margin-left: 32px; }
.cdw-fw-ml-10 { margin-left: 40px; }
.cdw-fw-ml-12 { margin-left: 48px; }
.cdw-fw-ml-16 { margin-left: 64px; }

.cdw-fw-mx-0 { margin-left: 0; margin-right: 0; }
.cdw-fw-mx-1 { margin-left: 4px; margin-right: 4px; }
.cdw-fw-mx-2 { margin-left: 8px; margin-right: 8px; }
.cdw-fw-mx-3 { margin-left: 12px; margin-right: 12px; }
.cdw-fw-mx-4 { margin-left: 16px; margin-right: 16px; }
.cdw-fw-mx-5 { margin-left: 20px; margin-right: 20px; }
.cdw-fw-mx-6 { margin-left: 24px; margin-right: 24px; }
.cdw-fw-mx-8 { margin-left: 32px; margin-right: 32px; }
.cdw-fw-mx-10 { margin-left: 40px; margin-right: 40px; }
.cdw-fw-mx-12 { margin-left: 48px; margin-right: 48px; }
.cdw-fw-mx-16 { margin-left: 64px; margin-right: 64px; }

.cdw-fw-my-0 { margin-top: 0; margin-bottom: 0; }
.cdw-fw-my-1 { margin-top: 4px; margin-bottom: 4px; }
.cdw-fw-my-2 { margin-top: 8px; margin-bottom: 8px; }
.cdw-fw-my-3 { margin-top: 12px; margin-bottom: 12px; }
.cdw-fw-my-4 { margin-top: 16px; margin-bottom: 16px; }
.cdw-fw-my-5 { margin-top: 20px; margin-bottom: 20px; }
.cdw-fw-my-6 { margin-top: 24px; margin-bottom: 24px; }
.cdw-fw-my-8 { margin-top: 32px; margin-bottom: 32px; }
.cdw-fw-my-10 { margin-top: 40px; margin-bottom: 40px; }
.cdw-fw-my-12 { margin-top: 48px; margin-bottom: 48px; }
.cdw-fw-my-16 { margin-top: 64px; margin-bottom: 64px; }

.cdw-fw-p-0 { padding: 0; }
.cdw-fw-p-1 { padding: 4px; }
.cdw-fw-p-2 { padding: 8px; }
.cdw-fw-p-3 { padding: 12px; }
.cdw-fw-p-4 { padding: 16px; }
.cdw-fw-p-5 { padding: 20px; }
.cdw-fw-p-6 { padding: 24px; }
.cdw-fw-p-8 { padding: 32px; }
.cdw-fw-p-10 { padding: 40px; }
.cdw-fw-p-12 { padding: 48px; }
.cdw-fw-p-16 { padding: 64px; }

.cdw-fw-pt-0 { padding-top: 0; }
.cdw-fw-pt-1 { padding-top: 4px; }
.cdw-fw-pt-2 { padding-top: 8px; }
.cdw-fw-pt-3 { padding-top: 12px; }
.cdw-fw-pt-4 { padding-top: 16px; }
.cdw-fw-pt-5 { padding-top: 20px; }
.cdw-fw-pt-6 { padding-top: 24px; }
.cdw-fw-pt-8 { padding-top: 32px; }
.cdw-fw-pt-10 { padding-top: 40px; }
.cdw-fw-pt-12 { padding-top: 48px; }
.cdw-fw-pt-16 { padding-top: 64px; }

.cdw-fw-pr-0 { padding-right: 0; }
.cdw-fw-pr-1 { padding-right: 4px; }
.cdw-fw-pr-2 { padding-right: 8px; }
.cdw-fw-pr-3 { padding-right: 12px; }
.cdw-fw-pr-4 { padding-right: 16px; }
.cdw-fw-pr-5 { padding-right: 20px; }
.cdw-fw-pr-6 { padding-right: 24px; }
.cdw-fw-pr-8 { padding-right: 32px; }
.cdw-fw-pr-10 { padding-right: 40px; }
.cdw-fw-pr-12 { padding-right: 48px; }
.cdw-fw-pr-16 { padding-right: 64px; }

.cdw-fw-pb-0 { padding-bottom: 0; }
.cdw-fw-pb-1 { padding-bottom: 4px; }
.cdw-fw-pb-2 { padding-bottom: 8px; }
.cdw-fw-pb-3 { padding-bottom: 12px; }
.cdw-fw-pb-4 { padding-bottom: 16px; }
.cdw-fw-pb-5 { padding-bottom: 20px; }
.cdw-fw-pb-6 { padding-bottom: 24px; }
.cdw-fw-pb-8 { padding-bottom: 32px; }
.cdw-fw-pb-10 { padding-bottom: 40px; }
.cdw-fw-pb-12 { padding-bottom: 48px; }
.cdw-fw-pb-16 { padding-bottom: 64px; }

.cdw-fw-pl-0 { padding-left: 0; }
.cdw-fw-pl-1 { padding-left: 4px; }
.cdw-fw-pl-2 { padding-left: 8px; }
.cdw-fw-pl-3 { padding-left: 12px; }
.cdw-fw-pl-4 { padding-left: 16px; }
.cdw-fw-pl-5 { padding-left: 20px; }
.cdw-fw-pl-6 { padding-left: 24px; }
.cdw-fw-pl-8 { padding-left: 32px; }
.cdw-fw-pl-10 { padding-left: 40px; }
.cdw-fw-pl-12 { padding-left: 48px; }
.cdw-fw-pl-16 { padding-left: 64px; }

.cdw-fw-px-0 { padding-left: 0; padding-right: 0; }
.cdw-fw-px-1 { padding-left: 4px; padding-right: 4px; }
.cdw-fw-px-2 { padding-left: 8px; padding-right: 8px; }
.cdw-fw-px-3 { padding-left: 12px; padding-right: 12px; }
.cdw-fw-px-4 { padding-left: 16px; padding-right: 16px; }
.cdw-fw-px-5 { padding-left: 20px; padding-right: 20px; }
.cdw-fw-px-6 { padding-left: 24px; padding-right: 24px; }
.cdw-fw-px-8 { padding-left: 32px; padding-right: 32px; }
.cdw-fw-px-10 { padding-left: 40px; padding-right: 40px; }
.cdw-fw-px-12 { padding-left: 48px; padding-right: 48px; }
.cdw-fw-px-16 { padding-left: 64px; padding-right: 64px; }

.cdw-fw-py-0 { padding-top: 0; padding-bottom: 0; }
.cdw-fw-py-1 { padding-top: 4px; padding-bottom: 4px; }
.cdw-fw-py-2 { padding-top: 8px; padding-bottom: 8px; }
.cdw-fw-py-3 { padding-top: 12px; padding-bottom: 12px; }
.cdw-fw-py-4 { padding-top: 16px; padding-bottom: 16px; }
.cdw-fw-py-5 { padding-top: 20px; padding-bottom: 20px; }
.cdw-fw-py-6 { padding-top: 24px; padding-bottom: 24px; }
.cdw-fw-py-8 { padding-top: 32px; padding-bottom: 32px; }
.cdw-fw-py-10 { padding-top: 40px; padding-bottom: 40px; }
.cdw-fw-py-12 { padding-top: 48px; padding-bottom: 48px; }
.cdw-fw-py-16 { padding-top: 64px; padding-bottom: 64px; }
